config/jellyfin/*
config/sonarr/*
config/radarr/*
config/lidarr/*
config/readarr/*
config/bazarr/*
config/prowlarr/*
config/transmission/*
config/cups/*
config/heimdall/*
config/yacht/*
config/nextcloud/*
config/immich/*
config/homeassistant/*
config/zigbee2mqtt/*
config/mosquitto/*
data/torrents/*
data/downloads/*
data/movies/*
data/shows/*
data/music/*
data/books/*
data/printers/*
data/services/*
data/storage/*

!config/jellyfin/.gitkeep
!config/sonarr/.gitkeep
!config/radarr/.gitkeep
!config/lidarr/.gitkeep
!config/readarr/.gitkeep
!config/bazarr/.gitkeep
!config/prowlarr/.gitkeep
!config/transmission/.gitkeep
!config/cups/.gitkeep
!config/heimdall/.gitkeep
!config/yacht/.gitkeep
!config/nextcloud/.gitkeep
!config/immich/.gitkeep
!config/homeassistant/.gitkeep
!config/zigbee2mqtt/.gitkeep
!config/mosquitto/.gitkeep
!data/torrents/.gitkeep
!data/downloads/.gitkeep
!data/movies/.gitkeep
!data/shows/.gitkeep
!data/music/.gitkeep
!data/books/.gitkeep
!data/printers/.gitkeep
!data/services/.gitkeep
!data/storage/.gitkeep
